/* font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  margin: 8px;
}

.upper {
  /* display: flow-root; */
  padding: 4rem;
  background: #f8f8f8;
  background: lightsteelblue;
}

.title {
  text-align: center;
}

.title h1 {
  font-family: "Lora", serif;
  font-size: 3.375rem;
  color: #143774;
  margin-top: -0.2em;
}

.title p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #1792d2;
  margin-top: 0.5em;
}

nav ul {
  margin-top: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

nav ul * + * {
  margin-left: 5em;
}
